[submodule "SmartParking-sensor"]
	path = SmartParking-sensor
	url = https://github.com/kiryanenko/SmartParking-sensor.git
[submodule "SmartParking-SensorManager"]
	path = SmartParking-SensorManager
	url = https://github.com/kiryanenko/SmartParking-SensorManager.git
[submodule "SmartParking-Web"]
	path = SmartParking-Web
	url = https://github.com/kiryanenko/SmartParking-Web.git
[submodule "SmartParking-Raspberry"]
	path = SmartParking-Raspberry
	url = https://github.com/kiryanenko/SmartParking-Raspberry.git
[submodule "SmartParking-Transceiver"]
	path = SmartParking-Transceiver
	url = https://github.com/kiryanenko/SmartParking-Transceiver.git
